#PersonalToolbar {
  -moz-box-ordinal-group: 2 !important;
}

#TabsToolbar {
  -moz-box-ordinal-group: 3 !important;
  padding-top: 0 !important;
}

.titlebar-placeholder {
  display: none !important;
}

#TabsToolbar[movingtab] {
  padding-bottom: 0 !important;
}

#TabsToolbar[movingtab] > .tabbrowser-tabs {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

#TabsToolbar[movingtab] + #nav-bar {
  margin-top: 0 !important;
}

/* if you want to use those settings with the titlebar hidden (titlebar unchecked in Customize),
you should add these lines also, where "var(--toolbar-bgcolor)"
is your current nav bar color (if you use custom color for it.
*/

#nav-bar {
  border-right: 140px solid var(--toolbar-bgcolor) !important;
}

#titlebar-buttonbox {
  z-index: 2 !important;
}

/* The two above blocks are basically used for Windows 10
If the two above settings cause problems for you,
you can try these instead *//*

#nav-bar {
  margin-right: 140px !important;
}

/* Only if you have your the titlebar hidden (titlebar unchecked in Customize)
And you're on Windows 10, with Firefox default light theme *//*

#titlebar-min, #titlebar-max, #titlebar-close {
  filter: invert(65%) !important;
}
:root[sizemode="maximized"] #titlebar-max {
  filter: invert(65%) !important;
}
/*----*/
