/*
  UNIVERSAL SCROLLBARS STYLING

  This method use CSS Scrollbars properties (FF 64+):
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Scrollbars
*/

:root {
  /* auto | thin | none */
  --scrollbars-width: auto;
  --scrollbars-thumb-color: #0079D3;
  --scrollbars-track-color: #2E3645;

  scrollbar-color: var(--scrollbars-thumb-color) var(--scrollbars-track-color) !important;
  scrollbar-width: var(--scrollbars-width) !important;
}

*|* {
  scrollbar-width: var(--scrollbars-width) !important;
}
